.Rproj.user
.Rhistory
.RData
.Ruserdata
~$allWWFWCS_BFCusearchMF_CROP98_otu_TAX20161217.xlsx
~$allWWFWCS_BFCusearchMF_CROP98_otu_TAX20161217_20170223.xlsx
allWWFWCS_BFCusearchMF_CROP98_otu_TAX20161217_20170302.xlsx
old
sample_info_origs
~$allWWFWCS_BFCusearchMF_CROP98_otu_TAX20161217_20170227.xlsx
~$allWWFWCS_BFCusearchMF_CROP98_otu_TAX20161217_20170302.xlsx
Vietnam_leeches.Rproj
Protax unweighted 20161111
Protax unweighted 20170303
Protax weighted 20170126
Protax weighted 20170303
allWWFWCS_BFCusearchMF_CROP98_otu_TAX20161217_20170305.xlsx
~$allWWFWCS_BFCusearchMF_CROP98_otu_TAX20161217_20170305.xlsx
OTU_by_Site_carnivora.tsv
OTU_by_Site_cetartiodactyla.tsv
OTU_by_Site_critters.tsv
OTU_by_Site_named_mammals.tsv
OTU_by_Site_primates.tsv
OTU_by_Site_tables
sample_info_orig_files
~$otutable.xlsx
otutable.csv
otutable.xlsx
~$allWWFWCS_BFCusearchMF_CROP98_otu_TAX20161217_20170517.xlsx
~$allWWFWCS_BFCusearchMF_CROP98_otu_TAX20161217_20170518.xlsx
~$*
Vietnam_leeches_swarm_lulu_20180404/doug_vietnam_16S_Borneo_weighted_Protax_20180609.zip
Report/