.Rproj.user
.Rhistory
.RData
.Ruserdata
~$allWWFWCS_BFCusearchMF_CROP98_otu_TAX20161217.xlsx
~$allWWFWCS_BFCusearchMF_CROP98_otu_TAX20161217_20170223.xlsx
allWWFWCS_BFCusearchMF_CROP98_otu_TAX20161217_20170302.xlsx
old
sample_info_origs
~$allWWFWCS_BFCusearchMF_CROP98_otu_TAX20161217_20170227.xlsx
~$allWWFWCS_BFCusearchMF_CROP98_otu_TAX20161217_20170302.xlsx
Vietnam_leeches.Rproj
Protax unweighted 20161111
Protax unweighted 20170303
Protax weighted 20170126
Protax weighted 20170303
